{{ ansible_managed | comment }}
[Interface]
PrivateKey = {{ peer.private_key }} 
DNS = {% if peer.dns is defined %}{{ peer.dns }}{% else %}{{ wg_dns }}{% endif %}
Address = {{ wg_range_v4 | ansible.utils.ipaddr('net') | ansible.utils.ipaddr( (2 + peer_id) | string ) | change_cidr_range_to('32')  }}, {{ wg_range_v6 | ansible.utils.ipaddr('net') | ansible.utils.ipaddr( (2 + peer_id) | string ) | change_cidr_range_to('128') }}

[Peer]
PublicKey = {{ wg_server_public_key }}
PresharedKey = {{ wg_preshared_key }}
AllowedIPs = {% if peer.routed_ips is defined %}{{ peer.routed_ips }}{% else %}{{ wg_routed_ips }}{% endif %}
Endpoint = {{ domain }}:{{ wg_port }}

# Send periodic keepalives to ensure connection stays up behind NAT.
PersistentKeepalive = 25

