{{ ansible_managed | comment }}
[Interface]
PrivateKey = {{ peer.private_key }}
#PublicKey = {{ peer.public_key }}
DNS = {{ peer.dns | default(wireguard_dns) }}
Address = {{ wireguard_range_v4 | ansible.utils.ipaddr('net') | ansible.utils.ipaddr( (2 + peer_id) | string ) | change_cidr_range_to('32')  }}{% if wireguard_range_v6 %}, {{ wireguard_range_v6 | ansible.utils.ipaddr('net') | ansible.utils.ipaddr( (2 + peer_id) | string ) | change_cidr_range_to('128') }}{% endif +%}

[Peer]
PublicKey = {{ wireguard_server_public_key }}
PresharedKey = {{ wireguard_preshared_key }}
AllowedIPs = {{ peer.routed_ips | default(wireguard_routed_ips) }}
Endpoint = {{ wireguard_endpoint }}:{{ wireguard_port }}

# Send periodic keepalives to ensure connection stays up behind NAT.
PersistentKeepalive = 25
